:root {
  --primary-color: #0070f3;
}

.nav {
  color: #fff;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 4;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #fff;
}

header h1 {
  font-size: 1.5rem;
}

header input {
  background: transparent;
  border: 1.5px solid rgb(86, 86, 86);
  padding: 0.5rem;
  color: #fff;
  border-radius: 10px;
}

header form {
  margin-right: 5rem;
}

::placeholder {
  color: rgb(86, 86, 86);
  font-size: 0.7rem;
}

.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.showcase h1 {
  font-size: 5rem;
}

.sub-hero {
  margin-top: 2rem;
  position: absolute;
  z-index: 5;
  bottom: 5%;
  width: 95vw;
  overflow: hidden;
}

.sub-hero-cards {
  padding: 10px;
  height: 10rem;
  overflow: hidden;
}

.sub-hero-card-item {
  height: 100%;
  width: 100%;
  color: #fff;
  position: relative;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

.sub-hero-card__image {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.sub-hero-card__content {
  position: relative;
  height: 100%;
  display: inline-block;
  padding: var(--tiny);
  z-index: 2;
  top: 80%;
}

.sub-hero-card__content--title {
  color: #fff;
  padding: 5px;
  font-size: x-small;
}

.trending,
.theatres,
.upcoming-movies {
  margin-top: 2rem;
}

.trending h1,
.theatres h1,
.upcoming-movies h1 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cards {
  margin-bottom: 1rem;
}

.card img {
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
}

.card h5 {
  margin: 0;
}

.card-details {
  margin-top: 0.1rem;
  font-size: smaller;
}

.card-details span {
  margin-right: 0.5rem;
}

.card span .rating {
  border-radius: 5px;
  padding: 5px;
  font-size: xx-small;
  font-weight: 900;
  cursor: pointer;
}

.card span .rating.green {
  background-color: green;
}

.card span .rating.green:hover {
  border: 1.5px solid green;
  background-color: transparent;
}

.card span .rating.red {
  background-color: red;
}

.card span .rating.red:hover {
  border: 1.5px solid red;
  background-color: transparent;
}

.card span .rating.orange {
  background-color: orange;
}

.card span .rating.orange:hover {
  border: 1.5px solid orange;
  background-color: transparent;
}

.all-trending {
  margin-top: 2rem;
}

.all-trending h1 {
  margin-bottom: 2rem;
  text-align: center;
}

.movie-details {
  margin-top: 3rem;
}

.movie-info {
  line-height: 1;
}

.movie-details h1 {
  font-size: 3rem;
  font-weight: 900;
}

.movie-details .genres {
  margin-top: 1rem;
}

.movie-details span {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 2px 5px;
  margin-right: 0.5rem;
  font-size: small;
}

.production-info {
  margin-top: 1rem;
}

.production-card {
  border: 1px solid #fff;
  padding: 30px;
  border-radius: 10px;
  text-align: center;
}

.production-card h6 {
  color: #0070f3;
}

.overview {
  margin-top: 2rem;
}

.overview .grid {
  align-items: unset;
}

.overview h4 {
  color: #0070f3;
}

.description p {
  margin: 0.5rem 0 1rem;
  font-size: small;
  text-align: justify;
}

.description a {
  text-decoration: none;
  color: #fff;
  background-color: #0070f3;
  border: 1px solid #0070f3;
  cursor: pointer;
  font-size: small;
  padding: 10px;
}

.description a:hover {
  color: #0070f3;
  background: transparent;
}

.trailer {
  color: #0070f3;
  margin-top: 1.5rem;
  text-transform: uppercase;
}

.trailer h5 {
  margin-bottom: 0.5rem;
}

.movie-details-reviews a {
  text-decoration: none;
  color: #fff;
}

.movie-details-review {
  background-color: #0070f3;
  margin: 0.5rem 0;
  padding: 10px;
  display: flex;
  justify-content: space-between;
}

.movie-details-review .author {
  height: 5rem;
  width: 5rem;
  background: #000;
  cursor: pointer;
}

.movie-details-review .author {
  font-size: xx-small;
}

.movie-details-review .content {
  margin-left: 1rem;
}

.movie-details-review .footer {
  line-height: 1.5;
  margin-top: 1rem;
  float: right;
}

.movie-details-review .footer .username {
  font-style: italic;
}

.movie-details-review .footer .date {
  font-size: xx-small;
}

.review-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.collection {
  margin-top: 1rem;
}

.collection h6 {
  margin-bottom: 0.5rem;
}

.expanding-cards {
  display: flex;
  width: 90vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  filter: grayscale(0.7);
}

.panel h3,
.panel h5,
.panel h6 {
  position: absolute;
  bottom: 50px;
  left: 20px;
  margin: 0;
  opacity: 0;
}

.panel h3 {
  font-size: 24px;
}

.panel h5 {
  bottom: 80px;
}

.panel h6 {
  bottom: 20px;
}

.panel.active {
  flex: 5;
  filter: grayscale(0);
}

.panel.active h3,
.panel.active h5,
.panel.active h6 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.4s;
}
