:root {
  --primary-color: #0070f3;
}

.nav {
  color: #fff;
  padding: 0;
  position: fixed;
  width: 100%;
  z-index: 4;
}

header {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding: 20px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  text-decoration: none;
  color: #fff;
}

header h1 {
  font-size: 1.5rem;
}

header input {
  background: transparent;
  border: 1.5px solid rgb(86, 86, 86);
  padding: 0.5rem;
  color: #fff;
  border-radius: 10px;
}

header form {
  margin-right: 5rem;
}

::placeholder {
  color: rgb(86, 86, 86);
  font-size: 0.7rem;
}

.hero-section {
  height: 100vh;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.sub-hero {
  margin-top: 2rem;
  position: absolute;
  z-index: 5;
  bottom: 5%;
  width: 95vw;
  overflow: hidden;
}

.sub-hero-cards {
  padding: 10px;
  height: 10rem;
  overflow: hidden;
}

.sub-hero-card-item {
  height: 100%;
  width: 100%;
  color: #fff;
  position: relative;
  border: 2px solid #fff;
  border-radius: 10px;
  cursor: pointer;
}

.sub-hero-card__image {
  position: absolute;
  display: inline-block;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

.sub-hero-card__content {
  position: relative;
  height: 100%;
  display: inline-block;
  padding: var(--tiny);
  z-index: 2;
  top: 80%;
}

.sub-hero-card__content--title {
  color: #fff;
  padding: 5px;
  font-size: x-small;
}

.trending,
.theatres {
  margin-top: 2rem;
}

.trending h1,
.theatres h1 {
  font-size: 1rem;
  margin-bottom: 1rem;
}

.cards {
  margin-bottom: 1rem;
}

.card img {
  width: 80%;
  border-radius: 10px;
  cursor: pointer;
}

.card h5 {
  margin: 0;
}

.card-details {
  margin-top: 0.1rem;
  font-size: smaller;
}

.card-details span {
  margin-right: 0.5rem;
}

.card span .rating {
  border-radius: 5px;
  padding: 5px;
  font-size: xx-small;
  font-weight: 900;
  cursor: pointer;
}

.card span .rating.green {
  background-color: green;
}

.card span .rating.green:hover {
  border: 1.5px solid green;
  background-color: transparent;
}

.card span .rating.red {
  background-color: red;
}

.card span .rating.red:hover {
  border: 1.5px solid red;
  background-color: transparent;
}

.card span .rating.orange {
  background-color: orange;
}

.card span .rating.orange:hover {
  border: 1.5px solid orange;
  background-color: transparent;
}

.all-trending {
  margin-top: 2rem;
}

.all-trending h1 {
  margin-bottom: 2rem;
  text-align: center;
}

.movie-details {
  margin-top: 3rem;
}

.movie-info {
  line-height: 1;
}

.movie-details h1 {
  font-size: 3rem;
  font-weight: 900;
}

.movie-details .genres {
  overflow: hidden;
  margin-top: 1rem;
}

.movie-details span {
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 2px 5px;
  margin-right: 0.5rem;
  font-size: small;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #0070f3;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
