* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --primary-color: #0070f3;
}

html,
body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  background-color: #333;
  color: #fff;
}

.container {
  margin: 0 auto;
  overflow: auto;
  padding: 0 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.grid-3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid-5 {
  grid-template-columns: repeat(5, 1fr);
}

.grid-6 {
  grid-template-columns: repeat(6, 1fr);
}

.btn {
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color);
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 1rem;
  padding: 10px;
  font-size: x-small;
}

.btn:hover {
  background: transparent;
  color: var(--primary-color);
}
